name: Keepalive Workflow
on:
  schedule:
    - cron: "0 0 * * *"
permissions:
  actions: write
jobs:
  cronjob-based-github-action:
    name: Keepalive Workflow
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: gautamkrishnar/keepalive-workflow@v2.0.10
        with:
          workflow_files: "update.yml"
          time_elapsed: "0"
